<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.AuthRoleDao">

    <!-- AuthRoleMenu 的 resultMap -->
    <resultMap id="AuthRoleMenuResultMap" type="org.example.model.AuthRoleMenu">
        <id property="roleId" column="roleId"/>
        <id property="menuId" column="menuId"/>
        <result property="createTime" column="createTime"/>
        <association property="authMenu" javaType="org.example.model.AuthMenu">
            <id property="id" column="menuId"/>
            <result property="name" column="menuName"/>
            <result property="code" column="menuCode"/>
        </association>
    </resultMap>

    <!-- AuthRoleElementOperation 的 resultMap -->
    <resultMap id="AuthRoleElementOperationResultMap" type="org.example.model.AuthRoleElementOperation">
        <id property="roleId" column="roleId"/>
        <id property="elementOperationId" column="elementOperationId"/>
        <result property="createTime" column="createTime"/>
        <association property="authElementOperation" javaType="org.example.model.AuthElementOperation">
            <id property="id" column="elementOperationId"/>
            <result property="elementName" column="elementName"/>
            <result property="elementCode" column="elementCode"/>
            <result property="operationType" column="operationType"/>
        </association>
    </resultMap>

    <!-- 查询角色对应的菜单权限列表 -->
    <select id="getAuthRoleMenusByRoleIds" resultMap="AuthRoleMenuResultMap" parameterType="java.util.Set">
        SELECT
        arm.roleId,
        arm.menuId,
        arm.createTime,
        am.id AS menuId,
        am.name AS menuName,
        am.code AS menuCode
        FROM
        auth_role_menu arm
        LEFT JOIN auth_menu am ON arm.menuId = am.id
        WHERE
        arm.roleId IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <!-- 查询角色对应的元素操作权限列表 -->
    <select id="getAuthRoleElementOperationsByRoleIds" resultMap="AuthRoleElementOperationResultMap" parameterType="java.util.Set">
        SELECT
        areo.roleId,
        areo.elementOperationId,
        areo.createTime,
        aeo.id AS elementOperationId,
        aeo.elementName,
        aeo.elementCode,
        aeo.operationType
        FROM
        auth_role_element_operation areo
        LEFT JOIN auth_element_operation aeo ON areo.elementOperationId = aeo.id
        WHERE
        areo.roleId IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

</mapper>