<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.UserDao">

    <select id="getUserById" parameterType="long" resultType="org.example.model.User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <select id="getUserByPhone" parameterType="string" resultType="org.example.model.User">
        SELECT *
        FROM user
        WHERE phone = #{phone}
    </select>

    <select id="getUserByEmail" parameterType="string" resultType="org.example.model.User">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <select id="getUserByPhoneOrEmail" parameterType="map" resultType="org.example.model.User">
        SELECT * FROM user
        WHERE phone = #{phone} OR email = #{email}
    </select>

    <insert id="insertUser" parameterType="org.example.model.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (phone, email, password, salt, status, createTime, lastLoginTime)
        VALUES (#{phone}, #{email}, #{password}, #{salt}, #{status}, #{createTime}, #{lastLoginTime})
    </insert>

    <update id="updateUser" parameterType="org.example.model.User">
        UPDATE user
        SET phone         = #{phone},
            email         = #{email},
            password      = #{password},
            salt          = #{salt},
            status        = #{status},
            updateTime    = #{updateTime},
            lastLoginTime = #{lastLoginTime}
        WHERE id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="long">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

    <delete id="deleteRefreshTokenByUserId" parameterType="java.lang.Long">
        delete from
            refresh_token
        where
            userId = #{userId}
    </delete>


    <insert id="addRefreshToken">
        insert into
            refresh_token(
            refreshToken,
            userId
        )values(
                   #{refreshToken},
                   #{userId}
               )
    </insert>

    <select id="getRefreshTokenByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
        select
            refreshToken
        from
            refresh_token
        where
            userId = #{userId}
    </select>

    <select id="getRefreshToken" parameterType="java.lang.String" resultType="org.example.model.RefreshToken">
        select
            *
        from
            refresh_token
        where
            refreshToken = #{refreshToken}
    </select>
</mapper>